
  <footer class="bg-light py-3 mt-4 text-center">
    <div class="container">
      <p>&copy; 2025 - mgfranciae</p>
    </div>
  </footer>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/summernote/summernote-bs5.min.js"></script>
</body>
</html>
