<%- include('head.ejs') %>
<body>
  <h1>Página de Contacto</h1>
  <p>Por favor, utiliza el siguiente formulario para contactarnos:</p>
  <form>
    <input class="form-control" type="email" placeholder="Tu correo electrónico">
    <textarea class="form-control" placeholder="Tu mensaje"></textarea>
    <button class="btn btn-info" type="submit" >Enviar Mensaje</button>
  </form>

  <%- include('comun.ejs') %>

</body>
</html>
